<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
  <title>Weather Application</title>
  <link rel="shortcut icon" type="image/png" href="/images/we.png" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://kit.fontawesome.com/0e498dcbfc.js" crossorigin="anonymous"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js">
  </script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
    type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
</head>

<body>
  <div class="nav">
    <div class="inner-nav">
      <a href="/" class="nav-item">
        <span class="button">Home</span>
      </a>
      <a href="/map" class="nav-item">
        <span class="button">Map</span>
      </a>
    </div>
    <div class="search">
      <i class="fas fa-search icon"></i>
      <input type="search" class="city" name="city" placeholder="Search for city" />
    </div>
  </div>

  <%- body %>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>