<div id="map"></div>
<div class="detail">Click on Map to get Location weather details</div>
<div class="main1">
    <div>
        <h3 class="place"></h3>
        <p class="temp1"></p>
    </div>
    <div class="temp21">
        <div class="desc1">

        </div>
        <div class="innermain1">
            <div>
                <div class="tb1"> </div>
                <div class="vs"></div>
            </div>
            <div>
                <div class="tb2"></div>
                <div class="wd"></div>
            </div>
            <div>
                <div class="tb3"></div>
                <div class="hd"></div>
            </div>
        </div>
    </div>
</div>