<div id="map"></div>
<div class="detail">Click on Map to get Location weather details</div>
<div class="main1">
    <div class="mapd">
        <img src="" alt="" class="img3">
        <p class="desc1"></p>
        <h3 class=" place"></h3>
        <p class="temp1"></p>
        <p class="tb1"></p>
    </div>

    <div class="sk-chase none">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
  
</div>